div.contactBlock {
  margin: 20px 40px;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  opacity: 0;
  transition: 3s;
}

p.contactText {
  font-family:Lucida Sans Unicode;
  color: white;
  text-align: left;
  font-size: 30px;
  padding: 10px;
}

a.contact {
  font-family:Lucida Sans Unicode;
  font-size: 30px;
  color: yellow;
  text-decoration: none;
}

a.contact:after {
  content: "";
  display: block;
  background: yellow;
  height: 3px;
  width: 0;
  transition: 0.3s;
}
a.contact:hover:after {
  width: 100%;
}

a.contact:active {
  color: #999900;
}

@media screen and (max-width: 956px) {
  div.contactBlock {
    flex-direction: column;
  }
  p.contactText {font-size: 15px;}
}
