i.features {
  color: yellow;
  font-size: 35px;
  text-align: center;
  padding: 10px 120px;
}

h3.features {
  font-family:Lucida Sans Unicode;
  text-align: center;
  color: white;
  margin: 10px;
  width: 250px;
  height: 20px;
}

hr.features {
  border: 2px solid yellow;
  border-radius: 2px;
}

p.features {
  font-family:Lucida Sans Unicode;
  text-align: center;
  color: white;
  width: 250px;
  height: 100px;
  margin: 10px;
}

div.features {
  display: inline-block;
  background-color: #1D203F;
  color: white;
  padding: 30px 30px;
  margin: 5%;
}
