div.featuresBlock {
  margin: 1% 4%;
  padding: 1% 4%;
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
  justify-content: center;
}

div.features {
  background-color: #1D203F;
  color: white;
  padding: 3%;
  margin: 3%;
}

i.features {
  color: yellow;
  font-size: 35px;
  text-align: center;
  padding: 10px 120px;
}

h3.features {
  font-family:Lucida Sans Unicode;
  text-align: center;
  color: white;
  margin: 10px;
  width: 260px;
  height: 20px;
}

hr.features {
  border: 2px solid yellow;
  border-radius: 3px;
}

p.features {
  font-family:Lucida Sans Unicode;
  text-align: center;
  color: white;
  width: 250px;
  height: 100px;
  margin: 10px;
}

@media screen and (max-width: 1175px) {
  div.features {
    padding: 2px;
    margin: 2px;
  }
}

@media screen and (max-width: 880px) {
  div.featuresBlock {
    flex-direction: column;
  }
  div.features {
    margin: 1px;
    padding: 1px;
  }
}
