div.featuresBlock {
  margin: 20px 40px;
  padding: 20px 40px;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
}

div.features {
  background-color: #1D203F;
  display: inline-block;
  color: white;
  padding: 30px 30px;
  margin: 50px;
}

i.features {
  color: yellow;
  font-size: 35px;
  text-align: center;
  padding: 10px 120px;
}

h3.features {
  font-family:Lucida Sans Unicode;
  text-align: center;
  color: white;
  margin: 10px;
  width: 250px;
  height: 20px;
}

hr.features {
  border: 2px solid yellow;
  border-radius: 2px;
}

p.features {
  font-family:Lucida Sans Unicode;
  text-align: center;
  color: white;
  width: 250px;
  height: 100px;
  margin: 10px;
}
