* {
  margin: 0;
  padding: 0;
  font-family: Lucida Sans Unicode;
}

body {
  background-image: url(https://images.wallpaperscraft.ru/image/zvezdnoe_nebo_nochnoe_nebo_zvezdy_130936_1920x1080.jpg);
  background-attachment: fixed;
  background-size: cover;
  background-repeat: repeat-y;
}

div.hello {
  width: 100%;
  background-image: url(https://images.wallpaperscraft.ru/image/zvezdnoe_nebo_noch_gory_117812_1920x1080.jpg);
  background-attachment: scroll;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 10% 0 15%;
  opacity: 0;
  transition: 3s;
}

div.hello h1 {
  font-family:Lucida Sans Unicode;
  padding: 5%;
  padding-bottom: 0;
  text-align: center;
  color: white;
  font-size: 7vw;
}

div.hello h2 {
  font-family:Lucida Sans Unicode;
  padding: 1%;
  text-align: center;
  color: white;
  font-size: 1.5vw;
}

.bkgheader {
  font-family: 'Alfa Slab One', cursive;
  text-align: center;
  font-size: 70px;
  color: yellow;
  opacity: 0;
  transition: 3s;
  margin-top: 20px;
}

.bkgparagraph {
  font-family:Lucida Sans Unicode;
  text-align: center;
  font-size: 15px;
  color: white;
  opacity: 0;
  transition: 3s;
  margin: -40px 0 0 0;
}

 .dropdownMenu {
  position: absolute;
  display: inline-block;
  right: 0;
  top: 0;
  font-size: 20px;
}

.dropdownButton {
  font-size: 35px;
  text-align: center;
  cursor: pointer;
  background: none;
  color: yellow;
  outline: none;
  position: absolute;
  right: 0;
  top: 0;
  border: none;
}

.dropdownButton:hover {
  color: #cccc00;
}

.dropdownContent {
  margin: 10px;
  width: 300px;
  display: none;
  position: absolute;
  right: 10px;
  top: 35px;
  background-color: #1D203F;
  color: white;
  list-style-type: none;
  outline: none;
}

.dropdownMenu:hover .dropdownContent {display: block;}

.dropdownMenu:hover .dropdownButton {color: #cccc00;}

.dropdownItems {
  width: 100%;
  text-align: left;
  cursor: pointer;
  background-color: #1D203F;
  box-shadow: none;
  border: none;
  outline: none;
  padding: 5px 10px;
}

.dropdownItems:hover {background-color: #181828;}

.dropdownItems:active {background-color: black;}

a.link {color: yellow;}

a.link:hover {color: #cccc00}

::-webkit-scrollbar {width: 10px;}

::-webkit-scrollbar-track {background: black;}

::-webkit-scrollbar-thumb {background: #cccccc; border-radius: 5px;}

::-webkit-scrollbar-thumb:hover {background: #999999}

::-webkit-scrollbar-thumb:active {background: #666666}
