div.portfolioBlock {
  background-color: #1D203F;
  margin: 20px 40px;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
}

div.portfolio {
  background-color: #181828;
  display: block;
  width: 300px;
  height: 400px;
  color: white;
  margin: 30px;
  box-shadow: 0 0 10px 5px #303050;
  transition: 0.5s;
}

div.portfolio:hover {
  box-shadow: 0 0 10px 5px yellow;
}

img.portfolioImg {
  width: 300px;
  height: 250px;
}

p.portfolio {
  font-family:Lucida Sans Unicode;
  text-align: left;
  width: 260px;
  height: 130px;
  padding: 10px 20px;
}

a.portfolioButton:link, a.portfolioButton:visited {
  font-family:Lucida Sans Unicode;
  display: block;
  color: white;
  border: 3px solid yellow;
  text-decoration: none;
  text-align: center;
  margin: 0 auto 20px;
  width: 140px;
  padding: 5px 10px;
  transition: 0.5s;
}

a.portfolioButton:hover {
  color: black;
  background-color: yellow;
  border: 3px solid yellow;
  text-decoration: none;
}

a.portfolioButton:active {
  color: black;
  background-color: #999900;
  border: 3px solid #999900;
  text-decoration: none;
}

@media screen and (max-width: 1115px) {
  div.mobile {display: none;}
}
