div.servicesBlock {
  background-color: #181828;
  color: white;
  margin: 20px 40px;
  padding: 50px 30px;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  opacity: 0;
  transition: 3s;
}

i.services {
  color: yellow;
  font-size: 35px;
  text-align: left;
  padding: 5px;
  margin: 5px;
}

p.services {
  text-align: left;
  height: 150px;
  width: 300px;
}

li.servicesList {
  width: 280px;
  height: 150px;
  margin: 10px;
  display: inline-block;
}

span.servicesListHeader {
  color: yellow;
}

ul.fa-ul {
  margin: 10px;
}

img.servicesImg {
  display: block;
  margin: 40px;
  width: 400px;
  height: 350px;
}

@media screen and (max-width: 1245px) {
  div.servicesBlock {
    margin: 20px;
    background-image: none;
  }
  i.services {font-size: 20px; margin-right: -20px;}
  img.mobile {display: none;}
  ul.fa-ul {width: 280px;}
}
