div.servicesBlock {
  background-color: #181828;
  color: white;
  margin: 20px 40px;
  padding: 50px 30px;
  background-image: url(https://papers.co/wallpaper/papers.co-mt89-mountain-night-snow-dark-star-40-wallpaper.jpg?download=true);
  background-position: right;
  background-repeat: no-repeat;
  background-size: contain;
  background-attachment: scroll;
}

i.services {
  color: yellow;
  font-size: 35px;
  text-align: left;
  padding: 5px;
  margin: 5px;
}

p.services {
  text-align: left;
  height: 150px;
  width: 300px;
  margin: 0 0 0 50px;
}

li.servicesList {
  width: 400px;
  display: inline-block;
}

span.servicesListHeader {
  color: yellow;
}

li.fa-li {
  margin: 5px;
}

ul.fa-ul {
  margin: 40px 0 0 100px;
}
